* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    
}
.corpo {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);  
    justify-content: center;
}

.pricipal{
    width: 375px;
}
.container-user{
    width: 100%;
    background-color: white;
    border: 0.12rem rgb(230, 230, 230) solid;
}
.instagram-image-logo {
    width: 175px;
    margin: 25px;
}
.instagram-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-logo {
    display: flex;
    justify-content: center;
}

.image-user {
    width: 125px;
    border-radius: 50%;
}
.profile-image {
    display: flex;
    justify-content: center;
}

.continue-instagram {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    
}
.continue {
    width: 225px;
    background-color: #0095f6;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
}

.continue-instagram h3 {
    text-align: center;
    color: white;
    font-size: 16px;
}

.remove-account {
    margin: 15px;
    padding-bottom: 25px;
}
.remove-account p {
    text-align: center;
    color: #0095f6;
    font-size: 16px;
    font-style: bold;
}

.dowload {
    display: block;
    margin: 10px;
    justify-content: center;

}
.txt-dowload {
    text-align-last: center;
    justify-content: center;
}

.img-dowload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    
}
.img-dowload  img {
    width: 125px;
    margin: 5px;
}

.not-user{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 85px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 0.12rem rgb(230, 230, 230) solid;
}

.text {
    text-align-last: center; 
}

.text p {
   display: inline;
   color: rgb(160, 160, 160);
    
}

.text-not-user a {
    color: #0095f6;
}

.text-not-user h3{
    text-align: center;
    color: rgb(160, 160, 160);
}

@media (max-width: 878px) {
    
    .corpo {
        background-color: white;
    }
    .container-cell {
        display: none;
    }
}